- var tabs = ['Tab 1', 'Tab 2', 'Tab 3', 'Tab 4', 'Tab 5'];
- var count = 1;

.contentTabs
  .contentTabsNav
      ul
        for tab in tabs
          li: a(href='#') #{tab}
  .contentTabsPanelCollection
    for tab in tabs
      .contentTabsPanel
        .contentTabsPanelIntro
          h3 Panel for tab "#{tab}" (#{count} of #{tabs.length} panels)
          p Mea labitur singulis intellegebat eu, mei solum impetus referrentur ad, mea quem persequeris no. Pri id similique honestatis, vel senserit liberavisse ne. Id pro modo mediocritatem. Diam dolore docendi ut duo, illum conceptam in vix. Eu errem complectitur vel, esse libris percipitur ex mel, vim ex mundi quidam volutpat. No tritani scaevola apeirian vim.
        .twoColGrid
          ul
            - for (var i = 0; i < 3; ++i) {
              li
                - for (var j = 0; j < 2; ++j) {
                  .mediaBlock.gridItem
                    img.mediaBlock(data-src='example.com/80x100/mo', alt='')
                    .mediaBlockContent
                      h4: a(href='replaceMe') Etlam sed est at tellus placerat sodales in erat
                      p Et vel nihil discere delicata, pro autem fierent definitiones ea. Purto nostro tacimates in sea. Vel ea habeo pertinacia, has amet tollit suavitate te. Et quodsi rationibus cum. In eos dicta sanctus, adhuc civibus ad ius. Duo corrumpit incorrupte cu. Illum molestie mel cu, qui ei prompta bonorum probatus.
                      p: a.viewNow(href='replaceMe') View Now
                - }
            - }
      - count++;