!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title ContentTabs Component Tests
    link(rel='stylesheet', href='css/style.css', media='screen')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../contentTabs.js')
    script(src='http://localhost/micrositeComponents/contentAccordion/contentAccordion.js')
    script(src='http://localhost/micrositeComponents/featuredVideo/featuredVideo.js')
    script(src='javascript/test.js')
  body
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            h2 Header
          #micrositeContent
            #micrositeContentColumnFull
              include ../../featuredVideo/example/featuredVideo
              include contentTabs
              include ../../contentAccordion/example/contentAccordion
              include contentTabs-altView
              include contentTabs
              include contentTabs
              include contentTabs
            #micrositeContentColumnLeft
              @Html.Ipsum.p(1, 8)
            #micrositeContentColumnRight
              @Html.Ipsum.p(1, 4)
            div(style='clear: both;')
          #micrositeFooter
            h2 Footer