// .contentTabsPanelContent { background-color: pink;  }
// .contentTabsPanelIntro { border: 3px dashed red;  }

// .contentTabsPanel:nth-child(1) { background-color: red; }
// .contentTabsPanel:nth-child(2) { background-color: blue; }
// .contentTabsPanel:nth-child(3) { background-color: green; }
// .contentTabsPanel:nth-child(4) { background-color: orange; }
// .contentTabsPanel:nth-child(5) { background-color: purple; }

